nav.navbar.navbar-default.container
  .container-fluid
    .navbar-header
      button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
        span.sr-only Toggle navigation
        span.icon-bar 
        span.icon-bar 
        span.icon-bar 
      a.navbar-brand(href="/") FCC Voting App
    .collapse.navbar-collapse#bs-example-navbar-collapse-1
      ul.nav.navbar-nav
        li.link
          a(href='/api/polls') Polls
        li.link
          if isLoggedIn
            a(href='/api/' + user_id + '/polls/new') New Poll
      ul.nav.navbar-nav.navbar-right
        li.link(style="margin-top: 7px")
          p.navbar-btn
            a.btn.twitter-share-button(href="https://twitter.com/share" data-show-count="false") Tweet
        li
          if isLoggedIn
            a(href="/profile") Profile
        li
          if isLoggedIn
            a(href="/logout") Logout
          else
            a(href="/auth/github") Login with GitHub
script(async src="//platform.twitter.com/widgets.js" charset="utf-8")