extends ../layout/layout.pug

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        .panel.panel-default
          .panel-heading
            h2.text-center Polls!
            h4 Select a poll to see the results and vote, or sign-in to make a new poll.
          if polls
            ul.list-group
              each poll in polls
                -name = Object.keys(poll.poll);
                -poll_id = poll._id
                li.list-group-item
                  a(href='/api/polls/' + poll_id)=name
                  if isLoggedIn && (user_id == poll.author)
                    form(action=href='/api/polls/' + poll_id + '?_method=DELETE' method='post')
                      button(type="submit") Delete
          if isLoggedIn
            .panel-footer
              h4.text-center Make a&nbsp;
                a(href='/api/polls/new') new poll.
