extends ../layout/layout.pug

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 New Poll
        - name = Object.keys(poll)[0]
        - option_1 = Object.keys(poll[name])[0]
        - option_2 = Object.keys(poll[name])[1]
        form(action="/api/polls" method="post")
          div.form-group
            label(for="poll_name") New Poll
            input#poll_name.form-control(type="text" name="poll_name" value=name)
          div.form-group
            label(for="option_1") Option 1
            input#option_1.form-control(type="text" name="option_1" value=option_1)
          div.form-group
            label(for="option_2") Option 2
            input#option_2.form-control(type="text" name="option_2" value=option_2)
          button.btn.btn-primary(type="submit") Create Poll